/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h2 {
    color: #444;
    text-align: center; /* Центрирование заголовка */
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Убрано свойство min-height */
    margin-bottom: 0; /* Убрано расстояние до таблицы */
}

/* Обертка для содержимого формы */
.form-content {
    width: 100%;
    max-width: 400px;
    margin: auto; /* Центрирование формы на странице */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Отступ между полями ввода */
    border: 1px solid #ddd;
    border-radius: 4px;
}


input[type="submit"] {
    width: auto; /* Изменено с 100% на auto */
    padding: 10px;
    margin: 0 auto; /* Добавлено для центрирования кнопки */
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    display: block; /* Добавлено для возможности центрирования */
}


input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Добавлен небольшой отступ сверху */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Стили для ссылок редактирования и удаления */
a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

